.education-format
{
    padding-top:120px;
    background-color: #10B582;
    padding-bottom:120px;
}
.education-format__row
{
    display: flex;
    gap:100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.education-format__img
{
    border: 2px dashed white;
    border-top-right-radius: 120px;
    & img
    {
        position: relative;
        right: 30px;
        top:30px;
        border-top-right-radius: 120px;
    }
}

.education-format__offer
{
    & h1
    {
        width: 500px;
        font-weight: 500;
        font-size: 58px;
        line-height: 120%;
        color: #FDFDFD;
    }
    & p
    {
        padding-top: 20px;
        width: 478px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FDFDFD;
    }
    & a
    {
        margin-top: 50px;
        width: 230px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 0 20px;
        background-color: #FA9F42;
        text-decoration: none;
        color: #FDFDFD;
        font-weight: 500;
        font-size: 16px;
    }
}