* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.header {
  background-color: #10B582;
  padding-bottom: 120px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.header__nav li {
  display: inline;
  margin-left: 40px;
  color: #FDFDFD;
  font-size: 16px;
}

.header__nav li:first-child {
  margin-left: 0px;
}

.header__nav li:hover {
  cursor: pointer;
}

.header__welcome {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.header__icons img {
  width: 22px;
  height: 22px;
}

.header__left-img {
  margin-top: 106px;
  border: 2px dashed #FDFDFD;
  border-radius: 0px 80px 0px 0px;
}

.header__left-img img {
  border-radius: 0px 80px 0px 0px;
  position: relative;
  right: 30px;
  top: 30px;
}

.header__logo img {
  margin-right: 10px;
}

.header__logo img img:last-child {
  margin-right: 0px;
}

.header__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__offer h1 {
  padding-top: 40px;
  width: 542px;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #FDFDFD;
}

.header__offer p {
  padding-top: 20px;
  width: 378px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FDFDFD;
}

.header__offer a {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 56px;
  background: #FA9F42;
  border-radius: 0px 20px;
  text-decoration: none;
  color: #FDFDFD;
}

.header__right-img {
  border: 2px dashed #FDFDFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px 0px 0px 0px;
}

.header__right-img img {
  border-radius: 80px 0px 0px 0px;
  position: relative;
  left: 30px;
  top: 30px;
}

.header__scroll-down {
  margin-top: 100px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  left: 140px;
}

.header__scroll-down a {
  text-decoration: none;
  color: white;
}

.header__scroll-down img {
  margin-right: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__scroll-down div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.achievments__row {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.achievments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievments__number {
  font-weight: 500;
  font-size: 58px;
  text-align: center;
  letter-spacing: 2px;
  color: #10B582;
}

.achievments__title {
  width: 270px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #353A5A;
}

.teachers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.teachers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers__offer h1 {
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  color: #353A5A;
}

.teachers__offer p {
  padding-top: 20px;
  width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353A5A;
  word-spacing: 1px;
  padding-bottom: 40px;
}

.teachers__offer a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 56px;
  background-color: #10B582;
  color: #FDFDFD;
  font-size: 16px;
  line-height: 100%;
  border-radius: 0 20px 0 20px;
}

.teachers__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.teachers__img figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers__img figcaption {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #353A5A;
  width: 170px;
}

.teachers__img #Lyonya {
  border-top-right-radius: 80px;
}

.teachers__img #Sasha {
  border-radius: 80px 0px;
}

.teachers__img #Pavel {
  border-top-left-radius: 80px;
}

.teachers__img #Sava {
  border-bottom-right-radius: 80px;
}

.teachers__img #Marine {
  border-radius: 0 80px;
}

.teachers__img #Kate {
  border-bottom-left-radius: 80px;
}

.education-format {
  padding-top: 120px;
  background-color: #10B582;
  padding-bottom: 120px;
}

.education-format__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education-format__img {
  border: 2px dashed white;
  border-top-right-radius: 120px;
}

.education-format__img img {
  position: relative;
  right: 30px;
  top: 30px;
  border-top-right-radius: 120px;
}

.education-format__offer h1 {
  width: 500px;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #FDFDFD;
}

.education-format__offer p {
  padding-top: 20px;
  width: 478px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FDFDFD;
}

.education-format__offer a {
  margin-top: 50px;
  width: 230px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 20px 0 20px;
  background-color: #FA9F42;
  text-decoration: none;
  color: #FDFDFD;
  font-weight: 500;
  font-size: 16px;
}

.popular-courses {
  padding-top: 120px;
  padding-bottom: 120px;
}

.popular-courses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.popular-courses__row h2 {
  width: 536px;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  color: #353A5A;
}

.popular-courses__row a {
  width: 230px;
  height: 56px;
  background: #10B582;
  border-radius: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: white;
}

.popular-courses__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-courses__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  background: #FDFDFD;
  -webkit-box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
          box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
  padding: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.popular-courses__item p {
  padding-top: 15px;
  font-size: 16px;
  color: #353A5A;
}

.popular-courses__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.join {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("/img/join/photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.join__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.join__row h2 {
  width: 508px;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  color: #353A5A;
}

.join__row p {
  padding-top: 20px;
  width: 508px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353A5A;
}

.join__row a {
  margin-top: 50px;
  width: 230px;
  height: 56px;
  background-color: #FA9F42;
  border-radius: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.footer {
  padding-top: 120px;
}

.footer__design {
  border-top: 1px solid rgba(0, 0, 0, 0.152);
  border-bottom: 1px solid rgba(0, 0, 0, 0.152);
}

.footer__row {
  padding-top: 80px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__general-info p {
  padding-top: 27px;
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #353A5A;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.footer__icons {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__education {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__education h2 {
  font-weight: medium;
  font-size: 16px;
  color: #353A5A;
}

.footer__education ul {
  margin-top: 31px;
}

.footer__education li {
  list-style-type: none;
  margin-top: 20px;
  font-weight: regular;
  font-size: 16px;
  color: #353A5A;
}

.footer__education li:hover {
  color: #FA9F42;
  cursor: pointer;
}

.footer__about-us {
  margin-left: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__about-us h2 {
  font-weight: medium;
  font-size: 16px;
  color: #353A5A;
}

.footer__about-us ul {
  margin-top: 31px;
}

.footer__about-us li {
  list-style-type: none;
  margin-top: 20px;
  font-weight: regular;
  font-size: 16px;
  color: #353A5A;
}

.footer__about-us li:hover {
  color: #FA9F42;
  cursor: pointer;
}

.footer__contacts {
  margin-left: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts h2 {
  font-weight: medium;
  font-size: 16px;
  color: #353A5A;
}

.footer__contacts ul {
  margin-top: 31px;
}

.footer__contacts li {
  list-style-type: none;
  margin-top: 20px;
  font-weight: regular;
  font-size: 16px;
  color: #353A5A;
}

.footer__contacts li:hover {
  color: #FA9F42;
  cursor: pointer;
}

.footer__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-left: 68px;
}

.footer__questions h2 {
  font-weight: medium;
  font-size: 16px;
  color: #353A5A;
}

.footer__questions p {
  width: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #353A5A;
}

.footer__questions span {
  text-decoration: underline;
}

.footer__final {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
}

.footer__final div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
