
$num-color:#10B582;

.achievments__row
{
    padding-top:120px;
    display: flex;
    flex-direction: row;
    gap:30px;
}

.achievments__item
{
    display: flex;
    gap:15px;
    align-items: center;
    
}

.achievments__number
{
    font-weight: 500;
    font-size: 58px;
    text-align: center;
    letter-spacing: 2px;
    color: $num-color;
}

.achievments__title
{
    width: 270px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #353A5A;
}