$bgclr:#10B582;

.header
{
    background-color: $bgclr;
    padding-bottom: 120px;
}

.header__row
{
    display: flex;
    justify-content: center;
    padding-top:40px;
}

.header__nav li
{
   display: inline;
   margin-left: 40px;
   color: #FDFDFD;
   font-size: 16px;
   &:first-child
   {
       margin-left: 0px;
   }
   &:hover
   {
       cursor: pointer;
   }
}

.header__welcome
{
    padding-top:56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__center
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header__icons
{
    & img
    {
        width: 22px;
        height: 22px;
    }
    display: flex;
    flex-direction: column;
    gap:30px;
}

.header__left-img
{
    margin-top:106px;
    border: 2px dashed #FDFDFD;
    border-radius: 0px 80px 0px 0px;
    & img
    {
        border-radius:0px 80px 0px 0px;
        position: relative;
        right: 30px;
        top:30px;
    }
}

.header__logo img
{
    margin-right: 10px;
    & img:last-child
    {
        margin-right: 0px;
    }
}

.header__offer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & h1
    {
        padding-top:40px;
        width: 542px;
        font-weight: 500;
        font-size: 58px;
        line-height: 120%;
        color: #FDFDFD;
    }
    & p 
    {
        padding-top:20px;
        width: 378px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FDFDFD;
    }

    & a
    {
        margin-top:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: 56px;
        background: #FA9F42;
        border-radius: 0px 20px;
        text-decoration: none;
        color: #FDFDFD;
    }
}

.header__right-img
{
    border: 2px dashed #FDFDFD;
    box-sizing: border-box;
    border-radius: 80px 0px 0px 0px;
    & img 
    {
        border-radius: 80px 0px 0px 0px;
        position: relative;
        left:30px;
        top:30px;
    }
}

.header__scroll-down
{
    margin-top:100px;
    transform: rotate(-90deg);
    position: relative;
    left:140px;
    
    & a {
        text-decoration: none;
        color:white;
    }
    & img
    {
        margin-right: 15px;
        transform: rotate(90deg);
    }
    & div 
    {
        display: flex;
    }
}